.ir {
  background-image: url(../../images/index/layout_1.png) !important;
  background-repeat: no-repeat;
  text-indent: 110%;
  white-space: nowrap;
}

.ci {
  display: block;
  width: 172px;
  height: 53px;
  background-position: 0 0;
}

.logIn {
  background-position: 0 -68px;
  display: block;
  width: 20px;
  height: 19px;
  margin: 0 auto 5px;
}

.join {
  background-position: -30px -68px;
  display: block;
  width: 20px;
  height: 19px;
  margin: 0 auto 5px;
}

.sitemap {
  background-position: -120px -68px;
  display: block;
  width: 20px;
  height: 19px;
  margin: 0 auto 5px;
}

.inc {
  display: block;
  top: 6px;
  right: 114px;
  width: 174px;
  height: 20px;
  background-position: 0 -101px;
}

.twitter {
  display: block;
  background-position: 0 -127px;
  width: 29px;
  height: 28px;
}

.facebook {
  display: block;
  background-position: -38px -127px;
  width: 29px;
  height: 28px;
}

.blog {
  display: block;
  width: 29px;
  height: 28px;
  background-position: -77px -127px;
}

.certi_1 {
  display: block;
  width: 85px;
  height: 32px;
  background-position: 0 -165px;
}

.certi_2 {
  display: block;
  width: 92px;
  height: 32px;
  background-position: -94px -165px
}

.certi_3 {
  display: block;
  width: 70px;
  height: 32px;
  background-position: 0 -207px
}
