[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"boto3" = "*"
django-storages = "*"
"psycopg2-binary" = "*"
pillow = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
djangorestframework = "*"
requests = "*"
django-cors-headers = "*"
django-filter = "*"
sentry-sdk = "==0.6.4"

[dev-packages]
awsebcli = "*"
ipython = "*"
django-extensions = "*"
notebook = "*"
"beautifulsoup4" = "*"
selenium = "*"
gevent = "*"
django-debug-toolbar = "*"
django-debug-toolbar-request-history = "*"

[requires]
python_version = "3.6"
