[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"boto3" = "*"
django-storages = "*"
"psycopg2-binary" = "*"
pillow = "*"
django-phonenumber-field = "*"
phonenumbers = "*"

[dev-packages]
awsebcli = "*"
ipython = "*"

[requires]
python_version = "3.6"
