<!doctype html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Happy</title>
  <link rel="stylesheet" href="../static/css/icon/IcoMoon.css">
  <link rel="stylesheet" href="../static/css/icon/icon.css">
  <link rel="stylesheet" href="../static/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
  <div class="dim-dark" onclick="handleClickDim()"></div>
  <!-- 상단 광고 배너 -->
  <div class="topbnr"></div>

  <header>
    <aside>
      <div class="wrap">
        <div class="aside-logo clearfix">
          <a href=""><span class="icon icon-user"></span></a>
        </div>

        <div class="aside-items">
          <div class="aside-menu-wrap">
            <div class="aside-sub-menu-title"><a href=""><span>해피캐시</span><span class="icon icon-circle-down"></span></a></div>
            <div class="aside-sub-menu">
              <div class="aside-sub-menu-content"><a href="">해피캐시 소개</a></div>
              <div class="aside-sub-menu-content"><a href="">해피캐시 충전</a></div>
              <div class="aside-sub-menu-content"><a href="">간편 충전</a></div>
              <div class="aside-sub-menu-content"><a href="">무료 충전소</a></div>
            </div>
          </div>
          <div class="aside-menu-wrap">
            <div class="aside-sub-menu-title"><a href=""><span>상품권</span><span class="icon icon-circle-down"></span></a></div>
            <div class="aside-sub-menu">
              <div class="aside-sub-menu-content"><a href="">상품권 소개</a></div>
              <div class="aside-sub-menu-content"><a href="">상품권 구입</a></div>
              <div class="aside-sub-menu-content"><a href="">상품권 교환소</a></div>
            </div>
          </div>
          <div class="aside-menu-wrap">
            <div class="aside-sub-menu-title"><a href=""><span>사용처</span><span class="icon icon-circle-down"></span></a></div>
            <div class="aside-sub-menu">
              <div class="aside-sub-menu-content"><a href="">해피 쇼핑몰</a></div>
              <div class="aside-sub-menu-content"><a href="">온라인 사용처</a></div>
              <div class="aside-sub-menu-content"><a href="">오프라인 사용처</a></div>
              <div class="aside-sub-menu-content"><a href="">모바일 사용처</a></div>
            </div>
          </div>
          <div class="aside-menu-wrap">
            <div class="aside-sub-menu-title"><a href=""><span>쇼핑 선물</span><span class="icon icon-circle-down"></span></a></div>
            <div class="aside-sub-menu">
              <div class="aside-sub-menu-content"><a href="">제휴상품몰</a></div>
              <div class="aside-sub-menu-content"><a href="">선물하기</a></div>
              <div class="aside-sub-menu-content"><a href="">웹툰</a></div>
            </div>
          </div>
          <div class="aside-menu-wrap">
            <div class="aside-sub-menu-title"><a href=""><span>해피박스</span><span class="icon icon-circle-down"></span></a></div>
            <div class="aside-sub-menu">
              <div class="aside-sub-menu-content"><a href="">해피쿠폰북</a></div>
              <div class="aside-sub-menu-content"><a href="">해피스탬프</a></div>
              <div class="aside-sub-menu-content"><a href="">추천핫딜쇼핑</a></div>
              <div class="aside-sub-menu-content"><a href="">행복나눔</a></div>
              <div class="aside-sub-menu-content"><a href="">맟춤서비스</a></div>
            </div>
          </div>
          <div class="aside-menu-wrap">
            <div class="aside-sub-menu-title"><a href=""><span>이벤트</span><span class="icon icon-circle-down"></span></a></div>
            <div class="aside-sub-menu">
              <div class="aside-sub-menu-content"><a href="">진행중인 이벤트</a></div>
              <div class="aside-sub-menu-content"><a href="">종료된 이벤트</a></div>
              <div class="aside-sub-menu-content"><a href="">당첨자 발표</a></div>
            </div>
          </div>
          <div class="aside-menu-item"><a href="">로그인</a></div>
          <div class="aside-menu-item"><a href="">회원가입</a></div>
          <div class="aside-menu-item"><a href="">사이트맵</a></div>
          <div>
            <div><a href=""><span class="icon icon-facebook"></span></a></div>
            <div><a href=""><span class="icon icon-instagram"></span></a></div>
          </div>
        </div>
      </div>
    </aside>

    <div class="header-hamberger" onclick="handleClickHamburger()">
      <span class="icon icon-paragraph-justify"></span>
    </div>

    <div class="aside-logo"><a href=""><span class="ir ci"></span></a></div>

    <div class="header-container">
      <div class="left-header">
        <div><a href=""><span class="ir ci"></span></a></div>
      </div>
      <div class="center-header">
        <div><div><a href="">상품권 & 충전</a></div></div>
        <div><div><a href="">사용처 & 쇼핑</a></div></div>
        <div><div><a href="">이벤트 & 혜택</a></div></div>
        <div><div><a href=""><img src="../static/images/index/btnGoogleGnb.gif" alt=""></a></div></div>
      </div>
      <div class="right-header">
        <div><a href=""><span class="ir logIn"></span>로그인</a></div>
        <div><a href=""><span class="ir join"></span>회원가입</a></div>
        <div><a href=""><span class="ir sitemap"></span>사이트맵</a></div>
      </div>
    </div>
  </header>
  <nav>
    <div class="nav-container">
      <div class="nav-wrap-1">
        <div class="nav-sub-menu">
          <div class="happy21">
            <h2 class="gnbTl">해피21사이트</h2>
            <p class="gnbTxt">외식, 레저상품권의 대명사로 <br>고품격 상품권입니다.</p>
            <a href="https://www.happy21.co.kr/" target="_blank" title="새창열림" class="btnGo">바로가기<span class="ico"></span></a>
          </div>
          <div class="happyShare">
            <h2 class="gnbTl">해피머니 앱</h2>
            <p class="gnbTxt">해피캐시 충전/사용을 쉽고 빠르게<br>다양한 혜택도 앱에서 누리세요!</p>
            <a href="/svc/common/appDownInfo.hm" class="btnGo">바로가기<span class="ico"></span></a>
          </div>
        </div>
      </div>
      <div class="nav-wrap-2">
        <div class="nav-sub-menu">
          <div class="nav-sub-menu-title"><a href="">해피캐시</a></div>
          <div class="nav-sub-menu-content"><a href="">해피캐시 소개</a></div>
          <div class="nav-sub-menu-content"><a href="">해피캐시 충전</a></div>
          <div class="nav-sub-menu-content"><a href="">간편 충전</a></div>
          <div class="nav-sub-menu-content"><a href="">무료 충전소</a></div>
        </div>
        <div class="nav-sub-menu">
          <div class="nav-sub-menu-title"><a href="">상품권</a></div>
          <div class="nav-sub-menu-content"><a href="">상품권 소개</a></div>
          <div class="nav-sub-menu-content"><a href="">상품권 구입</a></div>
          <div class="nav-sub-menu-content"><a href="">상품권 교환소</a></div>
        </div>
      </div>
      <div class="nav-wrap-3">
        <div class="nav-sub-menu">
          <div class="nav-sub-menu-title"><a href="">사용처</a></div>
          <div class="nav-sub-menu-content"><a href="">해피 쇼핑몰</a></div>
          <div class="nav-sub-menu-content"><a href="">온라인 사용처</a></div>
          <div class="nav-sub-menu-content"><a href="">오프라인 사용처</a></div>
          <div class="nav-sub-menu-content"><a href="">모바일 사용처</a></div>
        </div>
        <div class="nav-sub-menu">
          <div class="nav-sub-menu-title"><a href="">쇼핑 선물</a></div>
          <div class="nav-sub-menu-content"><a href="">제휴상품몰</a></div>
          <div class="nav-sub-menu-content"><a href="">선물하기</a></div>
          <div class="nav-sub-menu-content"><a href="">웹툰</a></div>
        </div>
      </div>
      <div class="nav-wrap-4">
        <div class="nav-sub-menu">
          <div class="nav-sub-menu-title"><a href="">해피박스</a></div>
          <div class="nav-sub-menu-content"><a href="">해피쿠폰북</a></div>
          <div class="nav-sub-menu-content"><a href="">해피스탬프</a></div>
          <div class="nav-sub-menu-content"><a href="">추천핫딜쇼핑</a></div>
          <div class="nav-sub-menu-content"><a href="">행복나눔</a></div>
          <div class="nav-sub-menu-content"><a href="">맟춤서비스</a></div>
        </div>
        <div class="nav-sub-menu">
          <div class="nav-sub-menu-title"><a href="">이벤트</a></div>
          <div class="nav-sub-menu-content"><a href="">진행중인 이벤트</a></div>
          <div class="nav-sub-menu-content"><a href="">종료된 이벤트</a></div>
          <div class="nav-sub-menu-content"><a href="">당첨자 발표</a></div>
        </div>
      </div>
      <div class="nav-wrap-5">
        <div class="linkWrap">
          <a href="/svc/customer/faqList.hm" class="btnCS">고객센터 바로가기<span class="ico"></span></a>
          <a href="http://www.happymoney.co.kr/svc/donation/index.hm" onclick="mainQuick_Action.setBannerReadCnt('941');" target="_blank" title="새창" class="banner"><img src="http://image.happymoney.co.kr/extimage/banner/201809191309686.jpg" alt="행복나눔 캠페인,빈곤을 해결하는 수단으로 행복나눔캠페인을 통해 공정무역 생산자를 지원합니다."></a></div>
        </div>
      </div>
    </nav>

    <footer>

    </footer>
  </body>

  <footer>
    <div class="footer-container">
      <div class="footer-section1">
        <div class="footer-section1-left">
          <div class="footer-section1-item">회사소개</div>
          <div class="footer-section1-item">가맹제휴</div>
          <div class="footer-section1-item">광고안내</div>
          <div class="footer-section1-item">이용약관</div>
          <div class="footer-section1-item">개인정보처리방침</div>
          <div class="footer-section1-item">청소년보호정책</div>
        </div>
        <div class="footer-section1-right">
          <div class="footer-section1-item">
            <a href=""><span class="ir inc"></span></a>
            <a href=""><span class="ir twitter"></span></a>
            <a href=""><span class="ir facebook"></span></a>
            <a href=""><span class="ir blog"></span></a>
          </div>
        </div>
      </div>
      <div class="footer-section2">
        해피머니아이엔씨
      </div>
      <div class="footer-section3">
        <div class="footer-section3-left">
          <p>대표이사 : 최병호 | 경기도 성남시 분당구 판교로253, C동(삼평동) | 사업자등록번호 : 116-81-71207</p>
          <p>통신판매업신고 : 제 01-78호 | 개인정보보호책임자 : 김광태상무</p>
          <p>담당자 이메일 : webmaster@happymoney.co.kr | 고객센터 : 1588-5245 | 팩스 : 031-8018-0220</p>
        </div>
        <div class="footer-section3-right">
          <span class="ir certi_1"></span>
          <span class="ir certi_2"></span>
          <span class="ir certi_3"></span>
        </div>
      </div>
      <div class="footer-section4">
        <p>COPYRIGHT © 2017 HAPPYMONEY INC. ALL RIGHTS RESERVED</p>
      </div>
    </div>
  </footer>
  <script>

  function handleClickHamburger() {
    $('aside').css('width', '75%');
    $('.dim-dark').css('display', 'block');
  }

  function handleClickDim() {
    $('aside').css('width', '0');
    $('.dim-dark').css('display', 'none');
  }

  $('.center-header, nav').hover(function() {
    $('nav').addClass('active');
  }, function() {
    $('nav').removeClass('active');
  });

  $('.aside-sub-menu-title').click(function(e) {
    e.preventDefault();
    var $target = $(this).next();

    $('.aside-sub-menu').each(function() {
      if ($(this).is(':visible') && $target[0] != $(this)[0]) {
        $(this).slideToggle('slow')
      }
    })
    $target.slideToggle('slow')
  })
</script>
</html>
